.container{
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
  }


  mat-form-field{
    width: 100%;
  }
  button{
        width: 100%;
        color: rgba(0,212,255,1) !important;
        
  }
  button:hover{
    background-color: rgb(47, 109, 163);
  }

  h1{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: rgba(0,212,255,1);
  }

  .edit{
    color:aqua;
  }
  .delete{
    color: aquamarine;
  }

  mat-radio-group{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }