<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="assets/img/img1.jpg" alt="imagem de navegação">
      <mat-nav-list class="nav-lis">
        <a mat-list-item routerLink="home">
            <i class="material-icons">
               home
            </i>
            Home
        </a>
        <a mat-list-item routerLink="tecnicos">
            <i class="material-icons">
               account_circle
            </i>
            Técnico
        </a>
        <a mat-list-item routerLink="/">
            <i class="material-icons">
               person
            </i>
            Cliente
        </a>
        <a mat-list-item routerLink="/">
            <i class="material-icons">
               code
            </i>
            GitHub
        </a>
        <a mat-list-item routerLink="/">
            <i class="material-icons">
               logout
            </i>
            Logout
        </a>
      </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
        <app-header></app-header>
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>

      </button>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
