<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title class="text">HelpDesk</mat-card-title>
      <mat-card-subtitle class="text">Dicas de um DEV</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/imagemhome.jpg" alt="image Home HelpDesk">
    <mat-card-content class="text">
        <p>     Olá! Seja bem vindo ao sistema Help Desk desenvolvido por mim no curso Desenvolvedor Full Stack.<br />
            Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk desenvolvido em Angular 17 e
            Spring Boot 3. <br />O sistema está rodando na nuvem sendo o front na Vercel e o back na Heroku.<br />
            O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
            Tokens JWT e muito mais. O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
            <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
            <br /> At.te: Victor Augusto Alves De Caravalho</p>
    </mat-card-content>
    
  </mat-card>
  
