<div class="container ">
    <form class="form mat-elevation-z8">
        <h1>HelpDesk</h1>

        <img src="assets/img/pngtree-user-login_resized.jpg">

        <mat-form-field class="full-width" appearance="outline">

          <mat-label>E-Mail</mat-label>
          <input
          class="text-color-imput"
          [formControl]="email"
          required
          [(ngModel)]="creds.email"
           name="email"
            matInput 
            placeholder="fulano@mail.com">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

         <mat-form-field class="full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input
            class="text-color-imput"
            [formControl]="senha"
          required
            [(ngModel)]="creds.senha"
             name="senha"
              type="password" 
              matInput 
              placeholder="1234">
              <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
          
          <button (click)='logar()' [disabled]="!validaCampos()"
          class="full-width mat-elevation-z4" 
          mat-stroked-button 
          color="primary">
          Login
        </button>
        </form>
</div>